.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logo {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.description {
  line-height: 1.625;
}

.price {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}
