.container {
  width: 100%;
  background-color: rgb(209, 213, 219);
  min-height: 100%;
}

.container.dark {
  background-color: rgb(55, 65, 81);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 300px;
  }
}
